.celebrity-poster {
  width: 100%;
  height: 22rem;
  position: relative;
  background-color: var(--color-white);
  transition: 0.3s ease;
}

.celebrity-poster:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.celebrity-poster .poster-body > img {
  width: 100%;
  height: 18rem;
}

.celebrity-poster .poster-body > h4 {
  color: var(--color-dark-gray);
  font-size: var(--text-base);
  margin: 0.5rem 0;
}
